<app-modal (buttonClick)="onModalButtonClick()" [buttonColor]="buttonColor" [modalTitle]="buttonText"
  [buttonText]="buttonText">
  <form autocomplete="off" class="w-full max-w-lg" [formGroup]="passwordForm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-full px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          URL
        </label>
        <input formControlName="url"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="grid-first-name" type="text" placeholder="http://yoururl.com">
      </div>
      <div class="w-full md:w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-name">
          Name
        </label>
        <input formControlName="name"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-name" type="text" placeholder="John Doe">
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-username">
          Username
        </label>
        <input formControlName="username" autocomplete="off"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 mb-4 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-username" type="text" placeholder="your@email.com">
      </div>
      <div class="w-full md:w-full px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
          Password
        </label>
        <input #passwordInput formControlName="password" autocomplete="off"
          class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          id="grid-password" [type]="showPassword ? 'text' : 'password'" placeholder="********">
        <div class="mt-2">
          <input (click)="copyToClipboard(passwordInput)" class="hidden js-password-toggle" id="copy"
            type="checkbox" />
          <label
            class="bg-{{clipboardFull ? 'green' : 'gray'}}-300 hover:bg-{{clipboardFull ? 'green' : 'gray'}}-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
            for="copy">{{clipboardFull ? 'copied to clipboard!' : 'copy to clipboard'}}</label>

          <input (click)="togglePasswordVisibility()" class="hidden js-password-toggle" id="toggle" type="checkbox" />
          <label
            class="bg-gray-300 float-right mr-2 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
            for="toggle">{{ showPassword ? 'hide' : 'show'}}</label>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
      <button class="text-xs bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded mr-2" type="button"
        (click)="cancel()">
        Close
      </button>
      <button class="text-xs bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded mr-2" type="button"
        (click)="saveOrUpdate()">
        Save Changes
      </button>
    </div>
  </form>
</app-modal>