<app-modal (buttonClick)="onModalButtonClick()" [buttonColor]="buttonColor" [modalTitle]="buttonText"
  [buttonText]="buttonText">
  <form autocomplete="off" class="w-full max-w-lg" [formGroup]="passwordForm">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-full px-3 md:mb-0">
        <app-form-input [formGroup]="passwordForm" label="URL" controlName="url" placeholder="http://yoururl.com"
          [required]="true"></app-form-input>
      </div>
      <div class="w-full md:w-full px-3 mt-6">
        <app-form-input [formGroup]="passwordForm" label="Name" controlName="name" placeholder="John Doe"
          [required]="true"></app-form-input>
      </div>
      <div class="w-full md:w-full px-3 mt-6">
        <app-form-input [formGroup]="passwordForm" label="Username" controlName="username" placeholder="your@email.com"
          [required]="true"></app-form-input>
      </div>
      <div class="w-full md:w-full px-3 mt-6">
        <app-form-input #passwordInput [formGroup]="passwordForm" label="Password" controlName="password"
          [type]="showPassword ? 'text' : 'password'" placeholder="*******" [required]="true"></app-form-input>
        <div class="mt-3 mb-6">
          <input (click)="copyToClipboard(passwordInput)" class="hidden js-password-toggle" id="copy" type="checkbox" />
          <label
            class="bg-{{clipboardFull ? 'green' : 'gray'}}-300 hover:bg-{{clipboardFull ? 'green' : 'gray'}}-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
            for="copy">{{clipboardFull ? 'copied to clipboard!' : 'copy to clipboard'}}</label>

          <input (click)="togglePasswordVisibility()" class="hidden js-password-toggle" id="toggle" type="checkbox" />
          <label
            class="bg-gray-300 float-right mr-2 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label"
            for="toggle">{{ showPassword ? 'hide' : 'show'}}</label>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end p-4 border-t border-solid border-slate-200 rounded-b">
      <button class="text-sm bg-red-400 hover:bg-red-500 text-white py-2 px-4 rounded mr-3" type="button"
        (click)="cancel()">
        Close
      </button>
      <button class="text-sm bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded" type="button"
        (click)="saveOrUpdate()">
        Save Changes
      </button>
    </div>
  </form>
</app-modal>