<div class="rounded overflow-hidden shadow bg-white">
  <div class="px-6 py-4">
    <div class="text-md mb-2">{{ passwordCard.url }}</div>
    <p class="text-xs text-gray-700">
      {{ passwordCard.username }}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <app-password-form-modal buttonText="Edit" buttonColor="bg-blue-500" (edit)="edit($event)" [passwordCard]="passwordCard">
    </app-password-form-modal>
    <app-confirm-modal (onConfirm)="remove($event)" [passwordCard]="passwordCard"></app-confirm-modal>
  </div>
</div>